<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinemall.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.onlinemall.mybatis_entity.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="img_urls" jdbcType="VARCHAR" property="imgUrls" />
    <result column="selling_price" jdbcType="DECIMAL" property="sellingPrice" />
    <result column="specs" jdbcType="VARCHAR" property="specs" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
    <result column="show_time" jdbcType="TIMESTAMP" property="showTime" />
    <result column="show_user_id" jdbcType="INTEGER" property="showUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="is_available" jdbcType="BIT" property="isAvailable" />
  </resultMap>
    <insert id="saveProduct" keyProperty="id" parameterType="com.onlinemall.mybatis_entity.Product" useGeneratedKeys="true">
        insert into product (product_type_id, product_name, img_urls, selling_price, specs, sku_num, is_show, create_user_id)
        values (#{productTypeId}, #{productName}, #{imgUrls}, #{sellingPrice}, #{specs}, #{skuNum}, 0, #{createUserId})
    </insert>
    <select id="findAllByMap" parameterType="java.util.Map" resultType="map">
        SELECT
            sku.selling_price AS sellingPrice,
            sku.cost_price AS costPrice,
            sku.specs AS specs,
            sku.unit AS unit,
            sku.sku_num AS sku_num,
            p.product_name AS productName,
            DATE_FORMAT( p.create_time, '%Y-%m-%d %T' ) AS createTime,
            u1.user_name AS createUser,
            DATE_FORMAT( p.update_time, '%Y-%m-%d %T' ) AS updateTime,
            u2.user_name AS updateUser,
            DATE_FORMAT( p.show_time, '%Y-%m-%d %T' ) AS showTime,
            u3.user_name AS showUser
        FROM
            product_sku sku
        LEFT JOIN product p ON sku.product_Id = p.id
        LEFT JOIN `user` u1 ON p.create_user_id = u1.id
        LEFT JOIN `user` u2 ON p.update_user_id = u2.id
        LEFT JOIN `user` u3 ON p.show_user_id = u3.id
        <where>
            sku.is_available = 1
            AND p.is_available = 1
            <if test="productName != null || productName != ''">
                AND p.product_name LIKE concat('%', #{productName}, '%')
            </if>
            <if test="productTypeId != null || productTypeId != ''">
                AND p.product_type_id = #{productTypeId}
            </if>
        </where>
    </select>
    <select id="countByMap" parameterType="java.util.Map" resultType="int">
        SELECT
            count(1);
        FROM
        product_sku sku
        LEFT JOIN product p ON sku.product_Id = p.id
        LEFT JOIN `user` u1 ON p.create_user_id = u1.id
        LEFT JOIN `user` u2 ON p.update_user_id = u2.id
        LEFT JOIN `user` u3 ON p.show_user_id = u3.id
        <where>
            sku.is_available = 1
            AND p.is_available = 1
            <if test="productName != null || productName != ''">
                AND p.product_name LIKE concat('%', #{productName}, '%')
            </if>
            <if test="productTypeId != null || productTypeId != ''">
                AND p.product_type_id = #{productTypeId}
            </if>
        </where>
    </select>
    <select id="findAll" parameterType="map" resultType="com.onlinemall.resp.ProductResp">
        SELECT
            p.id AS id,
            pt.product_type_name AS productTypeName,
            p.product_name AS productName,
            p.is_show AS isShow,
            DATE_FORMAT( p.create_time, '%Y-%m-%d %T' ) AS createTime,
            u1.user_name AS createUserName,
            DATE_FORMAT( p.update_time, '%Y-%m-%d %T' ) AS updateTime,
            u2.user_name AS updateUserName,
            DATE_FORMAT( p.show_time, '%Y-%m-%d %T' ) AS showTime,
            u3.user_name AS showUserName
        FROM
        product p
        LEFT JOIN product_type pt ON p.product_type_Id = pt.id
        LEFT JOIN `user` u1 ON p.create_user_id = u1.id
        LEFT JOIN `user` u2 ON p.update_user_id = u2.id
        LEFT JOIN `user` u3 ON p.show_user_id = u3.id
        <where>
            p.is_available = 1
            <if test="productName != null || productName != ''">
                AND p.product_name LIKE concat('%', #{productName}, '%')
            </if>
            <if test="productTypeId != null || productTypeId != ''">
                AND p.product_type_id = #{productTypeId}
            </if>
        </where>
    </select>
</mapper>