<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <link href="css/index.css" rel="stylesheet"/>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div id="app">
    <el-button type="primary" @click="addMovie">新增</el-button>
    <template>
        <el-table
                :data="movieList"
                border
                style="width: 100%">
            <el-table-column
                    fixed
                    prop="movie_name"
                    label="电影名称"
                    >
            </el-table-column>
            <el-table-column
                    fixed
                    prop="movie_type"
                    label="电影类别"
                    >
            </el-table-column>
            <el-table-column
                    fixed
                    prop="movie_date"
                    label="上映时间"
                    >
            </el-table-column>
            <el-table-column prop="movie_type"   label="上映状态" width="250px" show-overflow-tooltip align="center">
                <template scope="scopetable">
                    <p v-if="scopetable.row.movie_type=='0'">未上映</p>
                    <p v-if="scopetable.row.movie_type=='1'">播放中</p>
                </template>
            </el-table-column>
            <el-table-column
                    fixed
                    prop="movie_info"
                    label="剧情说明"
                    >
            </el-table-column>
            <el-table-column
                    fixed
                    prop="create_date"
                    label="添加时间"
                    >
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    >
                <template slot-scope="scope">
                    <el-button type="text" size="small" @click="updateMovie(scope.row)">编辑</el-button>
                    <el-button type="text" size="small" @click="deleteMovie(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>


    <!--模态框-->
    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
        <!--:model="empForm":绑定表单数据  :rules="rules"：验证规则-->
        <el-form :model="movieForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="电影编号" prop="movie_id">
                <el-input v-model="movieForm.movie_id"></el-input>
            </el-form-item>
            <el-form-item label="电影名称" prop="movie_name">
                <el-input v-model="movieForm.movie_name"></el-input>
            </el-form-item>
            <el-form-item label="类别" prop="movie_type">
                <el-select v-model="movieForm.movie_type" filterable  placeholder="请选择类别" value-key="movie_type">
                    <el-option
                            v-for="item in typeList"
                            :key="item.type_id"
                            :label="item.type_name"
                            :value="item.type_id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="上映时间" required>
                <el-form-item prop="movie_date">
                    <el-date-picker type="date" placeholder="选择日期" v-model="movieForm.movie_date" style="width: 100%;"></el-date-picker>
                </el-form-item>
            </el-form-item>
            <!--<el-form-item label="上映情况" prop="movie_state">-->
                <!--<el-radio-group v-model="movieForm.movie_state">-->
                    <!--<span v-if="movieForm.movie_state==0">未上映</span>-->
                    <!--<span v-if="movieForm.movie_state==1">播放中</span>-->
                <!--</el-radio-group>-->
            <!--</el-form-item>-->
            <el-form-item label="剧情说明" prop="movie_info">
                <el-input v-model="movieForm.movie_info"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
        </span>
    </el-dialog>


</div>
</body>
<script>
    //验证规则  名字要和prop属性的值对应
    var rules={
        movie_name: [
            { required: true, message: '请输入名称', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        movie_type: [
            { required: true, message: '请选择类别', trigger: 'change' }
        ],
        movie_date: [
            { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
        ],

        movie_info: [
            { required: true, message: '简介', trigger: 'blur' },
            { min: 3, max: 50, message: '长度在 5 到 50 个字符', trigger: 'blur' }
        ],
    };

    var vm=new Vue({
        el:"#app",
        data:{
            typeList:[],//获取的部门集合用来绑定下拉框
            movieList:[],
            dialogVisible:false,  //用来控制模态框是否显示
            movieForm:{}, //表单数据
            rules:rules //验证规则
        },
        mounted:function(){
            //调用函数初始化
            this.initData();
            //绑定部门
            this.getType();
        },
        methods:{
            initData:function(){
                axios.get("/movie/query").then(response=>{
                    this.movieList=response.data.list;
                 });
            },

            getType:function(){
                axios.get("/type/query").then(response=>{
                    this.typeList=response.data;
                 });
            },
            //新增弹出
            addMovie:function () {
                this.movieForm={};
                this.dialogVisible=true;
            },
            //编辑弹出并获取数据
            updateMovie:function (rowData) {
                this.dialogVisible=true;
                this.movieForm=rowData;
            },
            submitForm:function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/movie/add",this.movieForm).then(response=>{
                            alert(JSON.stringify(this.movieForm));
                            this.dialogVisible =false;
                            if(response.data){
                                this.$message({
                                    message: '新增成功',
                                    type: 'success'
                                })
                            }else{
                                this.$message({
                                    message: '新增失败',
                                    type: 'error'
                                })
                            }
                        })
                    }
                })
            }
        }
    })

</script>
</html>